.circulo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: blue;
    animation-name: movi;
    animation-duration: 5s;
    animation-iteration-count: infinite ;
    animation-delay: 4s;
}

@keyframes movi {
    0%{
        transform:translate(0px,0px);
        background-color:blueviolet ;
    }
    25%{
        transform: translate(50px,0px);
    }
    50%{
        transform: translate(50px,50px);
    }
    75%{
        transform: translate(0px,50px);
        background-color: brown;
    }
}

/* -----------------------*/
section{
    width: 100px;
    height: 100px;
    background-color: green;
    animation-name: un_efecto;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes un_efecto {
    0%{
        width: 100px;
    }
    25%{
        width: 300px;
    }
    50%{
        width: 200px;
        background-color: red;
    }
    75%{
        width: 300px;
    }
    100%{
        width: 100px;
        background-color: green;
    }

}