.colores{
    width: 100%;
    height: 300px;
    background-color: blue;
    box-shadow: 8px 6px 15px 11px rgba(170,51,255,0.81);
}

@media (min-width:480px){
    .colores{
        width: 50%;;
        background-color: brown;
    }
}

@media (min-width:700px){
    .colores{
        background-color: aqua;
        border: 15px solid rgb(0, 0, 0);
    }
}